In [1]:
import numpy as np
import pandas as pd

## Reduce by one

In [2]:
a = [1,5,9,6,2,11]
a.sort()
print(a)
b = [j-i for i, j in zip(a[:-1], a[1:])]
mini =  b.index(min(b))

a.append((a[mini]+a[mini+1])/2)
print(a[mini])
a.pop(mini)
a.pop(mini)
a

[1, 2, 5, 6, 9, 11]
1

[5, 6, 9, 11, 1.5]

## Reduce to k from m

In [3]:
k = 3
a = [1,5,9,6,2,11]
m = len(a)

print(a)
print(sorted(a))
while k<m:
    a.sort()

    b = [j-i for i, j in zip(a[:-1], a[1:])]

    mini =  b.index(min(b))

    a.append((a[mini]+a[mini+1])/2)
    a.pop(mini)
    a.pop(mini)
    m = len(a)
    
print(a)

[1, 5, 9, 6, 2, 11]
[1, 2, 5, 6, 9, 11]
[1.5, 5.5, 10.0]

## Reduce dataframe

In [37]:
df = pd.DataFrame({"X":[1,5,9,6,2,11],"g":[2,1,4,5,8,1],"h":[12,0,-1,3,4,2]})


df = df.sort_values(by=['X'])
df.reset_index(inplace = True, drop = True)
df

    X  g   h
0   1  2  12
1   2  8   4
2   5  1   0
3   6  5   3
4   9  4  -1
5  11  1   2

In [34]:
df = pd.DataFrame({"X":[1,5,9,6,2,11],"g":[2,1,4,5,8,1],"h":[12,0,-1,3,4,2]})


k = 3
m = len(df)

while k<m:
    df = df.sort_values(by=['X'])
    df.reset_index(inplace = True, drop = True)
    a = list(df["X"])
    b = [j-i for i, j in zip(a[:-1], a[1:])]

    mini = b.index(min(b))

    new = [(a[mini]+a[mini+1])/2,df["g"][mini]+df["g"][mini+1],df["h"][mini]+df["h"][mini+1]]

    df.loc[len(df)] = new
    df.drop([mini,mini+1], inplace = True)
    m = len(df)
df

      X     g     h
0   1.5  10.0  16.0
1   5.5   6.0   3.0
4  10.0   5.0   1.0

In [39]:
def merge_hist(df,k):
    m = len(df)
    if k>m:
        print("already satisfied")
        return df
    else:
        while k<m:
            df = df.sort_values(by=['X'])
            df.reset_index(inplace = True, drop = True)
            a = list(df["X"])
            b = [j-i for i, j in zip(a[:-1], a[1:])]

            mini = b.index(min(b))

            new = [(a[mini]+a[mini+1])/2,df["g"][mini]+df["g"][mini+1],df["h"][mini]+df["h"][mini+1]]

            df.loc[len(df)] = new
            df.drop([mini,mini+1], inplace = True)
            m = len(df)
        return df

In [42]:
df = pd.DataFrame({"X":[1,5,9,6,2,11],"g":[2,1,4,5,8,1],"h":[12,0,-1,3,4,2]})

df_merged = merge_hist(df, 3)
df_merged

      X     g     h
0   1.5  10.0  16.0
1   5.5   6.0   3.0
4  10.0   5.0   1.0